<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <springProperty scope="context" name="logLevel" source="log.level" />
    <springProperty scope="context" name="logPath" source="log.energy.user.path" />

    <springProfile name="local">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="online">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <appender name="businessLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logPath}/business.log</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>Debug</level>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logPath}/business-%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <appender name="errorlogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${logPath}/error.log</file>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logPath}/error-%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <logger name="com.ziyoujiayuan" level="${logLevel}"/>
        <logger name="freemarker.cache" level="${logLevel}"/>
        <logger name="org.apache.http.impl.conn" level="INFO"></logger>

        <logger name="business" level="${logLevel}" additivity="false">
            <appender-ref ref="businessLogFile"/>
        </logger>
        <logger name="myerror" level="ERROR" additivity="false">
            <appender-ref ref="errorlogFile"/>
        </logger>
        <logger name="org.springframework" level="${logLevel}"/>
        <logger name="org.mybatis" level="${logLevel}"/>
        <logger name="org.apache.ibatis" level="${logLevel}"/>

        <root level="${logLevel}">
            <appender-ref ref="console"/>
            <appender-ref ref="businessLogFile"/>
            <appender-ref ref="errorlogFile"/>
        </root>
    </springProfile>
</configuration>